{% extends "layouts/base_user.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load widget_tweaks %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-edit"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Traitement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                               {{ journal_modif.nom_journal }}  
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5>Date et heure de debut :</h5>
                                                    <cite title="Source Title">{{ journal_modif.date_heure_debut }}</cite>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Statut</label>
                                                            <select class="mb-3 form-control">
                                                                {% for statut_journal in statut_journals %}
                                                                    <option> {{ statut_journal }} </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="container-md" style="padding-top:38px">
                                                            <!-- <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample" type ="submit"><i class="feather icon-edit"></i></a> -->
                                                                <!-- <form method="POST">
                                                                    {% csrf_token %}
                                                                    {{ formADC.reference_ADC|attr:"hidden" }}
                                                                    {{ formADC.journal|attr:"hidden" }}
                                                                    
                                                                    <button type="submit" name="buttonformADC" class="feather icon-edit" style="background: none; border: none;"><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample" type ="submit"></a></button>
                                                                    
                                                                </form> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="collapse1" id="collapseExample1" >
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <!-- Nb de page -->
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Nombre de page dans cette journal</h5>
                                                </div>
                                                <div class="card-body">
                                                        <div class="form-group mb-2">
                                                            <label class="sr-only">nb</label>
                                                            {{ formModif.nombre_de_page|attr:"class:form-control" }}
                                                            
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nb d'ADC -->
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Nombre d'ADC dans cette journal</h5>
                                                </div>
                                                <div class="card-body">
                                                        <div class="form-group mb-2">
                                                            <label class="sr-only">nb</label>
                                                            {{ formModif.nombre_ADC|attr:"class:form-control" }}
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Journal a ne pas traité -->
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Journal à ne pas traité </h5>
                                                </div>
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Additif/Rectificatif/Erratum/Modification</th>
                                                                    <th>DOUBLON</th>
                                                                    <th>Aucune ville sur Parution et cérémonie </th>
                                                                    <th>Date de cérémonie ant. au jour / Cérémonie chez le Défunt / Cérémonie dans l'Intimité familiale</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {{ formExclu.adc|attr:"hidden" }}
                                                                <tr>
                                                                    <!-- Additif/Rectificatif/Erratum/Modification -->
                                                                    <td>
                                                                            <div class="form-group mb-2">
                                                                                <label for="staticEmail2" class="sr-only">nb</label>
                                                                                {{ formExclu.additif_rectificatif_erratum_modif|attr:"class:form-control" }}
                                                                            </div>
                                                                    </td>
                                                                    <!-- DOUBLON -->
                                                                    <td>
                                                                            <div class="form-group mb-2">
                                                                                <label for="staticEmail2" class="sr-only">nb</label>
                                                                                {{ formExclu.doublon|attr:"class:form-control" }}
                                                                            </div>
                                                                    </td>
                                                                    <!-- Date de cérémonie ant. au jour / Cérémonie chez le Défunt / Cérémonie dans l'Intimité familiale -->
                                                                    <td>
                                                                            <div class="form-group mb-2">
                                                                                <label for="staticEmail2" class="sr-only">nb</label>
                                                                                {{ formExclu.exclu_ceremonie|attr:"class:form-control" }}
                                                                            </div>
                                                                    </td>
                                                                    <!-- Aucune ville sur Parution et cérémonie -->
                                                                    <td>                                      
                                                                            <div class="form-group mb-2">
                                                                                <label for="staticEmail2" class="sr-only">nb</label>                                                                              
                                                                                {{ formExclu.aucun_ville|attr:"class:form-control" }}
                                                                            </div>                                                                    
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- Absent dans la base -->
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>AUTRE</h5>
                                                </div>
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Absent dans la base</th>
                                                                    <th>Autre à son domicile (Repos)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {{ formABS_base.adc|attr:"hidden" }}
                                                                <tr>
                                                                    <!-- Abs dans la base -->
                                                                    <td>     
                                                                            <div class="form-group mb-2">
                                                                                <label for="staticEmail2" class="sr-only">nb</label>                                      
                                                                                {{ formABS_base.ads_dans_la_base|attr:"class:form-control" }}
                                                                            </div>
                                                                    </td>
                                                                    <!-- Autre a son domicile -->
                                                                    <td>
                                                                            <div class="form-group mb-2">
                                                                                <label for="staticEmail2" class="sr-only">nb</label>                               
                                                                                {{ formABS_base.repos|attr:"class:form-control" }}
                                                                            </div>  
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- Obsevation -->
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Observation</h5>
                                                </div>
                                                <div class="card-block">
                                              
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">EXPLICATIONS DES PROBLEMES, ANNOTATIONS, DOUTES ET REMARQUES</label>
                                                        
                                                        {{ formModif.observation|attr:"class:form-control"|attr:"rows:3" }}
                                                    </div>
                                                
                                            </div>
                                            </div>
                                        </div>
                                        <!-- verification et enregistrement -->
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Vérification et enregistrement</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col">
                                                            <label style="padding-left:45%">Jalon</label>
                                                            {{ formModif.jalon|attr:"class:form-control" }}
                                                        </div>

                                                        <div class="col">
                                                            <label style="padding-left:45%">Statut</label>
                                                            {{ formModif.statut_journal|attr:"class:form-control" }}
                                                        </div>
                                                        <div class="col">
                                                            <label style="padding-left:45%">Heure fin</label>
                                                            {{ formModif.heure_fin|attr:"class:form-control"|attr:"type:time" }}
                                                        </div>
                                                        <div class="col">
                                                            <button type="submit" name="modification" class="btn btn-outline-primary mb-2">Enregistrer</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
