{% extends "layouts/base_user.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-activity"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Rapport personnel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <h2>1ère semaine</h2>
                            <div class="table-wrapper">
                                <table class="fl-table">
                                    <thead>
                                    <tr>
                                        <th>Lundi</th>
                                        <th>Mardi</th>
                                        <th>Mercredi</th>
                                        <th>Jeudi</th>
                                        <th>Vendredi</th>
                                        <th>Samedi</th>
                                        <th>Dimanche</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p>10 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>11 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>12 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>13 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>14 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>15 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>16 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tbody>
                                </table>
                            </div>
                            
                            <h2>2ème semaine</h2>
                            <div class="table-wrapper">
                                <table class="fl-table">
                                    <thead>
                                    <tr>
                                        <th>Lundi</th>
                                        <th>Mardi</th>
                                        <th>Mercredi</th>
                                        <th>Jeudi</th>
                                        <th>Vendredi</th>
                                        <th>Samedi</th>
                                        <th>Dimanche</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p>10 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>11 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>12 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>13 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>14 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>15 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>16 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tbody>
                                </table>
                            </div>

                            <h2>3ème semaine</h2>
                            <div class="table-wrapper">
                                <table class="fl-table">
                                    <thead>
                                    <tr>
                                        <th>Lundi</th>
                                        <th>Mardi</th>
                                        <th>Mercredi</th>
                                        <th>Jeudi</th>
                                        <th>Vendredi</th>
                                        <th>Samedi</th>
                                        <th>Dimanche</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p>10 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>11 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>12 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>13 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>14 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>15 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>16 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tbody>
                                </table>
                            </div>

                            <h2>4ème semaine</h2>
                            <div class="table-wrapper">
                                <table class="fl-table">
                                    <thead>
                                    <tr>
                                        <th>Lundi</th>
                                        <th>Mardi</th>
                                        <th>Mercredi</th>
                                        <th>Jeudi</th>
                                        <th>Vendredi</th>
                                        <th>Samedi</th>
                                        <th>Dimanche</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p>10 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>11 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>12 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>13 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>14 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>15 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <p>16 octobre 2022</p>
                                            <ul>
                                                <li>Nb Journal :</li>
                                                <li>Nb ADC :</li>
                                                <li>Durée  :</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
<script>
    $(document).ready(function() {

        $(".datepicker").datepicker({
          prevText: '<i class="fa fa-fw fa-angle-left"></i>',
          nextText: '<i class="fa fa-fw fa-angle-right"></i>'
        });
      });
      
</script>