{% extends "layouts/base_user.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-file-text"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Accueil</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-header">
                                            <h5>Ajouter une journal</h5>
                                        </div>
                                        <div class="card-block">
                                            <form methode="POST" action =" ">{% csrf_token %} 
                                                <div class="form-group">
                                                    <label>Nom Journal</label>
                                                    <input type="text" class="form-control" placeholder="Nom du Journal" id="txtNom_journal" required>
                                                </div>
                                                <button type="submit" class="btn btn-outline-light" title="" data-toggle="tooltip">Ajouter</button>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->
                                <!--[ Recent Users ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Liste des journals traite</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Nom Journal</th>
                                                            <th>Date et heure de debut</th>
                                                            <th>Nombre de page</th>
                                                            <th>Nombre d'ADC</th>
                                                            <!-- <th>A ne pas traiter</th>
                                                            <th>Autres</th> -->
                                                            <th>Heure fin</th>
                                                            <th>Statut du journal</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        {% for journal in journals %}
                                                        
                                                        <tr>
                                                            <th scope="row">{{ journal.id }}</th>
                                                            <td>{{ journal.nom_journal }}</td>
                                                            <td>{{ journal.date_heure_debut }} </td>
                                                            <td> {{ journal.nombre_de_page }} </td>
                                                            <td> {{ journal.nombre_ADC }} </td>
                                                            <!-- <td></td>
                                                            <td></td> -->
                                                            <td> {{ journal.heure_fin }} </td>
                                                            <td> {{ journal.statut_journal }} </td>
                                                            
                                                        </tr>
                                                        
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div >
                                    <div>
                                        <ul class="pagination">
                                            {% if journals.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ journals.previous_page_number }}">Precedent</a>
                                            </li>
                                            {% endif %}

                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ journals.number }}">{{ journals.number }}</a>
                                            </li>
                                            <li class="page-item" desable>
                                                <a class="page-link" href="#">...</a>
                                            </li>
                                            {% if journals.paginator.num_pages != journals.number %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ journals.paginator.num_pages }}">{{ journals.paginator.num_pages }}</a>
                                            </li>
                                            {% endif %}

                                            {% if journals.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ journals.next_page_number }}">Suivant</a>
                                            </li>
                                            {% endif %}

                                        </ul>
                                    </div>

                                </div>
                                <!--[ Recent Users ] end-->
                                <!--[social-media section] end-->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
